.app {
  width: 120px;
  margin: 0 auto;
  margin-top: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body {
  background: linear-gradient(#e66465, #9198e5);
  height: 78vh;
}
.btn {
  width: 80px;
  height: 25px;
  border: none;
  height: none;
  outline: none;
  background-color: lightcoral;
  color: white;
  cursor: pointer;
  border-radius: 999px;
  transition: transform 150ms ease-in-out;
}

.btn:hover {
  background-color: white;
  color: lightcoral;
  border: 1px solid lightcoral;
}
.btn:active {
  transform: scale(0.75);
}
